<div class="banner">
  <div class="container">
    <div class="header">
      <h2>Crypto Checker</h2>
      <h6>Check all the crypto current latest update</h6>
    </div>

    <div class="sub-header">
      <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="1000" direction="left" >
        <div class="row">
          <ng-container *ngFor="let row of bannerData">
            <div class="col-1">
              <div class="card">
                <img [src]="row.image" width="100"class="img-fluid" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{row.symbol | uppercase}} </h5>
                  <p class="card-text">{{row.current_price | currency}}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </marquee>
    </div>
  </div>
</div>
